div#preload { display: none; }
div.dot {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background: blue;
    margin-top: 10%;
    margin-left:15%;
}
div.dot.selected {
    background: yellow;
}
.gamegrid{
    background-color:#000;
    width: 240px;
    height: 320px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow:hidden;
}
div.dot.blue {
    background: dodgerblue;
}
div.dot.green {
    background: green;
}
div.dot.orange {
    background: orangered;
}
div.dot.magenta {
    background: magenta;
}
div.dot.black{
    background: black;
}
div.dot.steve{
    background-image: url("../images/steve.png");
}
div.dot.tapped_steve{
    background-image: url("../images/madsteve.png");
}
div.dot.correct {
    background: green;
}
div.dot.incorrect {
    background: red;
}
div.dot.wrong_dot {
    background-image: url("../images/cross.png");
}
div.dot.good_dot {
    background-image: url("../images/checkmark.png");
}
.center{
    position: absolute;
    /*background:green;*/
    left:calc(50% - 240px/2); /* width divided by 2*/
    top:calc(50% - 320px/2); /* height divided by 2*/
}

/*div.dot {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background: blue;
    margin-top: 10%;
    margin-left:15%;
}
div.dot.selected {
    background: yellow;
}

.gamegrid{
    background-color:#000;
    width: 240px;
    height: 320px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow:hidden;
}

div.dot.blue {
    background: dodgerblue;
}
div.dot.green {
    background: green;
}
div.dot.orange {
    background: orangered;
}
div.dot.magenta {
    background: magenta;
}
div.dot.black{
    background: black;
}
div.dot.steve{
    background-image: url("../images/steve.png");
    background-repeat: no-repeat;
    background-position: 7px -3px;
    background-size: 40px;
}
div.dot.tapped_steve{
    background-image: url("../images/madsteve.png");
    background-repeat: no-repeat;
    background-position: 7px -3px;
    background-size: 40px;
}

div.dot.correct {
    background: lawngreen;
    border-style: solid;
    border-color: yellow;
    border-width: thick;
}

.center{
    position: absolute;
    left:calc(50% - 240px/2);
    top:calc(50% - 320px/2);
}
*/
/* left = width divided by 2*/
/* top = height divided by 2*/

/*
body{
background-color:#000;
}

Maintain aspect ratios:
#dot-container {
background-color:#000;
width: 100%;
padding-bottom: 75%;
}
.dot{
width: 50px;
height: 50px;
background: red;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
display:block;
}

//Probably useless
.dot.touched{
width: 50px;
height: 50px;
background: blue;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
display:block;
}

div.box {
width: 50px;
height: 50px;
margin-bottom: 20px;
border-style: solid;
border-width: thin;
}
*/

