body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

h1 {
    font-family: "Consolas";
    text-align: center;
    padding-bottom: 5px;
    color: white;
}

html, body {
    		height: 100%;
    		margin: 0;
}

#screen {
  /*  border: 4px solid white; */
    background-color: black;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#title {
    color: #32CD32;
    font-family: "Consolas";
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: 5px;
    display: block;
}
#mode-selection-container {
    background-color: black;
}
.mode-select {
    width: 210px;
    height: 210px;
    border: 15px solid black;
    border-radius: 50%;
	top: 40%;
	display: inline-block;
}
#mode-1 {
    background: dodgerblue;
	position: absolute;
	left: 25%;
}
#mode-2 {
    background: magenta;
	position: absolute;
	left: 42.5%;
}
#mode-3 {
    background: yellow;
	position: absolute;
	left: 60%;
}

#mode-2:hover {
    transform:scale(1.05,1.05);
}

.nongameplay-buttons-no-hover {
    background-color: black;
    border: none;
    display: inline-block;
    position: absolute;
    bottom: 5px;
}

.nongameplay-buttons {
    background-color: black;
    border: none;
    display: inline-block;
    position: absolute;
    bottom: 5px;
}

.nongameplay-buttons:hover {
    transform:scale(1.2,1.2);
}
#left-arrow-button {
    bottom: 30%;
    left: 15%;
}
#right-arrow-button {
    bottom: 30%;
    right: 15%;
}
#options-button {
    left: 5px;
}
#scores-button {
    left: 70px;
}
#credits-button {
    right: 5px;
}
#return-button {
    display: none;
}
#badges-button {
    display:none;
    right: 5px;
}

#pause-button {
    right: 5px;
}

#unpause-button {
    left: 5px;
}

#restart-button {
    left: 70px;
}

#quit-button {
    right: 5px;
}

#tutorial-button {
    right: 75px;
    bottom: 9px;
}
#options-screen {
    display: none;
}
.T_container {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.option-header {
    float: left;
    padding-right: 50px;
}
/* style for option buttons */
input[type=checkbox] {
    visibility: hidden;
}
.option-slider {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px;
    margin-left: 200px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
}
.option-slider:after {
    content: 'OFF';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.option-slider:before {
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}
.option-slider label {
    display: block;
    width: 34px;
    height: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.option-slider input[type=checkbox]:checked + label {
    left: 43px;
}
/* end for option buttons */
#scores-screen {
    display:none;
}
#badges-screen {
    display:none;
}
.badge-icons {
    margin: 40px auto 0 auto;
    padding: 10px;
    width: 90%;
    border: 1px solid white;
    border-radius: 5px;
}
.badge-button {
    background-color: transparent;
    border: none;
    padding: 0;
}
#credits-screen {
    display:none;
}
#game-screen {
    display:none;
}
#lives-bar {
    position: absolute;
    top: 10px;
    left: 10px;
}
#lives-bar img {
    width:35px;
    height:30px;
}
#timer-bar {
    float: right;
    background-color: #32CD32;
    width: 40%;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
#timer-bar p {
    font-size: 150%;
    color: black;
}
#score-bar {
    position: absolute;
    bottom: 5px;
    margin-left: 10px;
    background-color: #32CD32;
    width: 200px;
    height: 45px;
    text-align: center;
}
#score-bar p {
    color: black;
    font-size: 220%;
}
#dot-container {
    height: 400px;
    width: 300px;
}
#steve-button {
    background-color: transparent;
    border: none;
}

#gameover-screen {
    display: none;
    color: black;
}

#gameover-text {
    font-size: 500%;
    color: #32CD32;
}

#pause-screen {
    display: none;
    color: black;
}

#final-score-container {
    border-radius: 4px;
    border: 3px solid white;
    margin: auto;
    width: 40%;
}

#game-over-quit-button {
    left: 5px;
}
#game-over-restart-button {
    right: 5px;
}

p {
    color: white;
    font-family: "Consolas";
    margin: 0;
    font-size: 75%;
}
#credits-container {
    text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}
#credits-container p {
    margin: -6px;
}
h2 {
    color: white;
    text-align: center;
    font-family: "Consolas";
    margin: 0;
}

table {
    color: white;
    font-family: "Consolas";
    font-size: 130%;
}


div#preload { display: none; }

div.dot {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background: blue;
    margin-top: 10%;
    margin-left:15%;
}
div.dot.selected {
    background: lightgoldenrodyellow;
}
.gamegrid{
    background-color:#000;
    width: 240px;
    height: 320px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow:hidden;
}
div.dot.blue {
    background: dodgerblue;
}
div.dot.cyan {
    background: cyan;
}
div.dot.green {
    background: limegreen;
}
div.dot.orange {
    background: orange;
}
div.dot.purple {
    background: purple;
}
div.dot.magenta {
    background: magenta;
}
div.dot.pink {
    background: hotpink;
}
div.dot.black{
    background: black;
}
div.dot.steve{
    background-image: url("../images/steve.png");
}
div.dot.tapped_steve{
    background-image: url("../images/madsteve.png");
}
div.dot.correct {
    background: green;
}
div.dot.incorrect {
    background: red;
}
div.dot.wrong_dot {
    background-image: url("../images/cross.png");
}
div.dot.good_dot {
    background-image: url("../images/checkmark.png");
}
.dotcont {
    max-width: 75px;
    padding-right: 5px;

    /*background: violet;border-width: thick;
    border-style: solid;
    border-color: white;*/
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.custom-offset {
    margin-left: 2.33333%;
}
    /*
    .center{
        position: absolute;
        left:calc(50% - 240px/2);
        top:calc(50% - 320px/2);
    }
    */

