div.box {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-style: solid;
/*    border-color: white;
    background: brown;*/
    border-width: medium;
}

div.dot {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background: green;
    margin-top: 10%;
    margin-left:15%;
}

div.dot.tap {
    background: magenta;
}
.center{
    position: absolute;
    background:green;
    left:calc(50% - 240px/2); /* width divided by 2*/
    top:calc(50% - 320px/2); /* height divided by 2*/
}

.gamegrid{
	background-color:#000;
    width: 240px;
    height: 320px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow:hidden;	
}

.dot{
    width: 50px;
    height: 50px;
    background: red;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    /*What does display:block mean?*/
    display:block;
}

.dot.touched{
    width: 50px;
    height: 50px;
    background: blue;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display:block;
}

body{
	background-color:#000;
}

/*Maintain aspect ratios:*/
#wrapper {
    background-color:#000;
    width: 100%;
    padding-bottom: 75%;
}
